



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- ViewVC :: http://www.viewvc.org/ -->
<head>
<title>[jpackage] Log of /rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc</title>
<meta name="generator" content="ViewVC 1.0.1" />
<link rel="stylesheet" href="/viewvc/styles.css" type="text/css" />

</head>
<body>
<div class="vc_navheader">

<form method="get" action="/cgi-bin/viewvc.cgi/">

<table style="padding:0.1em;">
<tr>
<td>
<strong>

<a href="/cgi-bin/viewvc.cgi/?root=jpackage">

[jpackage]</a>
/

<a href="/cgi-bin/viewvc.cgi/rpms/?root=jpackage">

rpms</a>
/

<a href="/cgi-bin/viewvc.cgi/rpms/devel/?root=jpackage">

devel</a>
/

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/?root=jpackage">

hsqldb</a>
/



hsqldb-1.72.3-standard-sqltool.rc


</strong>

</td>
<td style="text-align:right;">


<strong>Repository:</strong>
<select name="root" onchange="submit()">


<option value="*viewroots*">Repository Listing</option>


































































































<optgroup label="CVS Repositories"><option selected="selected">jpackage</option><option>plf</option></optgroup>


<optgroup label="Subversion Repositories"><option>easyurpmi</option><option>libconf</option><option>mandrivafr</option><option>planetmandriva</option><option>plf-svn</option><option>rpm4</option><option>youri</option><option>zarb</option></optgroup>

</select>
<input type="submit" value="Go" />

</td>
</tr>
</table>

</form>

</div>
<div style="float: right; padding: 5px;"><a href="http://www.viewvc.org/"><img src="/viewvc/images/logo.png" alt="ViewVC logotype" width="128" height="48" /></a></div>
<h1>Log of /rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc</h1>

<p style="margin:0;">

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/?root=jpackage"><img src="/viewvc/images/back_small.png" width="16" height="16" alt="Parent Directory" /> Parent Directory</a>


| <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;view=graph"><img src="/viewvc/images/cvsgraph_16x16.png" width="16" height="16" alt="View Revision Graph" /> Revision Graph</a>



</p>

<hr />
<table class="auto">



<tr>
<td>Links to HEAD:</td>
<td>
(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;view=markup">view</a>)
(<a href="/cgi-bin/viewvc.cgi/*checkout*/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage">download</a>)

(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=annotate&amp;root=jpackage">annotate</a>)
</td>
</tr>



<tr>
<td>Sticky Tag:</td>
<td><form method="get" action="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc" style="display: inline">
<input type="hidden" name="view" value="log" /><input type="hidden" name="root" value="jpackage" />


<select name="pathrev" onchange="submit()">
<option value=""></option>

<optgroup label="Branches">


<option>MAIN</option>



<option>JPACKAGE_UTILS_1_5</option>



<option>JPACKAGE-1_7</option>



<option>JPACKAGE-1_6</option>


</optgroup>

<optgroup label="Non-branch tags">


<option>r1_72_3-2jpp</option>



<option>r1_72_3-1jpp</option>



<option>JPACKAGE-1_7-branchpoint</option>



<option>HEAD</option>


</optgroup>

</select>

<input type="submit" value="Set" />
</form>

</td>
</tr>
</table>
 








<div>
<hr />

<a name="rev1.3"></a>
<a name="JPACKAGE-1_7-branchpoint"></a>
<a name="HEAD"></a>


Revision <strong>1.3</strong> -

(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?revision=1.3&amp;root=jpackage&amp;view=markup">view</a>)

(<a href="/cgi-bin/viewvc.cgi/*checkout*/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?revision=1.3&amp;root=jpackage">download</a>)

(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?annotate=1.3&amp;root=jpackage">annotate</a>)



- <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.3&amp;view=log">[select for diffs]</a>




<br />

<em>Fri Nov  4 21:27:54 2005 UTC</em> (14 months, 2 weeks ago) by <em>fnasser</em>


<br />Branch:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=MAIN"><strong>MAIN</strong></a>



<br />CVS Tags:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=HEAD"><strong>HEAD</strong></a>,

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=JPACKAGE-1_7-branchpoint"><strong>JPACKAGE-1_7-branchpoint</strong></a>



<br />Branch point for:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=JPACKAGE-1_7"><strong>JPACKAGE-1_7</strong></a>





<br />Changes since <strong>1.2: +0 -0 lines</strong>







<br />Diff to <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.2&amp;r2=1.3">previous 1.2</a>










<pre class="vc_log">Bring trunk to current JPACKAGE-1_6 level
</pre>
</div>



<div>
<hr />

<a name="rev1.2"></a>


Revision <strong>1.2</strong> -

(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?revision=1.2&amp;root=jpackage&amp;view=markup">view</a>)

(<a href="/cgi-bin/viewvc.cgi/*checkout*/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?revision=1.2&amp;root=jpackage">download</a>)

(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?annotate=1.2&amp;root=jpackage">annotate</a>)



- <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.2&amp;view=log">[select for diffs]</a>




<br />

<em>Wed Dec 15 14:15:39 2004 UTC</em> (2 years, 1 month ago) by <em>robert</em>


<br />Branch:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=MAIN"><strong>MAIN</strong></a>







<br />Changes since <strong>1.1: +98 -0 lines</strong>







<br />Diff to <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.1&amp;r2=1.2">previous 1.1</a>










<pre class="vc_log">Merging JPACKAGE-1_6 to HEAD
</pre>
</div>



<div>
<hr />

<a name="rev1.1.2.2"></a>
<a name="r1_72_3-2jpp"></a>

<a name="JPACKAGE_UTILS_1_5"></a>

Revision <strong>1.1.2.2</strong> -

(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?revision=1.1.2.2&amp;root=jpackage&amp;view=markup">view</a>)

(<a href="/cgi-bin/viewvc.cgi/*checkout*/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?revision=1.1.2.2&amp;root=jpackage">download</a>)

(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?annotate=1.1.2.2&amp;root=jpackage">annotate</a>)



- <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.1.2.2&amp;view=log">[select for diffs]</a>




<br />

<em>Wed Aug 25 10:47:40 2004 UTC</em> (2 years, 4 months ago) by <em>jpackage</em>


<br />Branch:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=JPACKAGE_UTILS_1_5"><strong>JPACKAGE_UTILS_1_5</strong></a>



<br />CVS Tags:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=r1_72_3-2jpp"><strong>r1_72_3-2jpp</strong></a>



<br />Branch point for:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=JPACKAGE-1_6"><strong>JPACKAGE-1_6</strong></a>





<br />Changes since <strong>1.1.2.1: +0 -0 lines</strong>







<br />Diff to <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.1.2.1&amp;r2=1.1.2.2">previous 1.1.2.1</a>





, to <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.1&amp;r2=1.1.2.2">branch point 1.1</a>




, to <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.3&amp;r2=1.1.2.2">next main 1.3</a>







<pre class="vc_log">1.72.3-2jpp
</pre>
</div>



<div>
<hr />

<a name="rev1.1.2.1"></a>
<a name="r1_72_3-1jpp"></a>


Revision <strong>1.1.2.1</strong> -

(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?revision=1.1.2.1&amp;root=jpackage&amp;view=markup">view</a>)

(<a href="/cgi-bin/viewvc.cgi/*checkout*/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?revision=1.1.2.1&amp;root=jpackage">download</a>)

(<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?annotate=1.1.2.1&amp;root=jpackage">annotate</a>)



- <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.1.2.1&amp;view=log">[select for diffs]</a>




<br />

<em>Mon Aug 16 14:07:45 2004 UTC</em> (2 years, 5 months ago) by <em>jpackage</em>


<br />Branch:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=JPACKAGE_UTILS_1_5"><strong>JPACKAGE_UTILS_1_5</strong></a>



<br />CVS Tags:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=r1_72_3-1jpp"><strong>r1_72_3-1jpp</strong></a>






<br />Changes since <strong>1.1: +98 -0 lines</strong>







<br />Diff to <a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?root=jpackage&amp;r1=1.1&amp;r2=1.1.2.1">previous 1.1</a>










<pre class="vc_log">1.72.3-1jpp
</pre>
</div>



<div>
<hr />

Revision <strong>1.1</strong>


<br />

<em>Mon Aug 16 14:07:45 2004 UTC</em> (2 years, 5 months ago) by <em>jpackage</em>


<br />Branch:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=MAIN"><strong>MAIN</strong></a>




<br />Branch point for:

<a href="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc?view=log&amp;root=jpackage&amp;pathrev=JPACKAGE_UTILS_1_5"><strong>JPACKAGE_UTILS_1_5</strong></a>





<br /><strong><em>FILE REMOVED</em></strong>

<pre class="vc_log">file hsqldb-1.72.3-standard-sqltool.rc was initially added on branch JPACKAGE_UTILS_1_5.
</pre>
</div>

 



 <hr />
<p><a name="diff"></a>
This form allows you to request diffs between any two revisions of this file.
For each of the two "sides" of the diff,

select a symbolic revision name using the selection box, or choose
'Use Text Field' and enter a numeric revision.

</p>
<form method="get" action="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc" name="diff_select">
<table cellpadding="2" cellspacing="0" class="auto">
<tr>
<td>&nbsp;</td>
<td>
<input type="hidden" name="root" value="jpackage" /><input type="hidden" name="view" value="diff" />
Diffs between

<select name="r1">
<option value="text" selected="selected">Use Text Field</option>

<option value="1.1.2.2:r1_72_3-2jpp">r1_72_3-2jpp</option>

<option value="1.1.2.1:r1_72_3-1jpp">r1_72_3-1jpp</option>

<option value="1.3:MAIN">MAIN</option>

<option value="1.1.2.2:JPACKAGE_UTILS_1_5">JPACKAGE_UTILS_1_5</option>

<option value="1.3:JPACKAGE-1_7-branchpoint">JPACKAGE-1_7-branchpoint</option>

<option value="1.3:JPACKAGE-1_7">JPACKAGE-1_7</option>

<option value="1.1.2.2:JPACKAGE-1_6">JPACKAGE-1_6</option>

<option value="1.3:HEAD">HEAD</option>

</select>
<input type="text" size="12" name="tr1"
value="1.3"
onchange="document.diff_select.r1.selectedIndex=0" />

and

<select name="r2">
<option value="text" selected="selected">Use Text Field</option>

<option value="1.1.2.2:r1_72_3-2jpp">r1_72_3-2jpp</option>

<option value="1.1.2.1:r1_72_3-1jpp">r1_72_3-1jpp</option>

<option value="1.3:MAIN">MAIN</option>

<option value="1.1.2.2:JPACKAGE_UTILS_1_5">JPACKAGE_UTILS_1_5</option>

<option value="1.3:JPACKAGE-1_7-branchpoint">JPACKAGE-1_7-branchpoint</option>

<option value="1.3:JPACKAGE-1_7">JPACKAGE-1_7</option>

<option value="1.1.2.2:JPACKAGE-1_6">JPACKAGE-1_6</option>

<option value="1.3:HEAD">HEAD</option>

</select>
<input type="text" size="12" name="tr2"
value="1.1"
onchange="document.diff_select.r1.selectedIndex=0" />

</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
Type of Diff should be a
<select name="diff_format" onchange="submit()">
<option value="h" selected="selected">Colored Diff</option>
<option value="l" >Long Colored Diff</option>
<option value="u" >Unidiff</option>
<option value="c" >Context Diff</option>
<option value="s" >Side by Side</option>
</select>
<input type="submit" value=" Get Diffs " />
</td>
</tr>
</table>
</form>


<form method="get" action="/cgi-bin/viewvc.cgi/rpms/devel/hsqldb/hsqldb-1.72.3-standard-sqltool.rc">
<div>
<hr />
<a name="logsort"></a>
<input type="hidden" name="root" value="jpackage" /><input type="hidden" name="view" value="log" />
Sort log by:
<select name="logsort" onchange="submit()">
<option value="cvs" >Not sorted</option>
<option value="date" selected="selected">Commit date</option>
<option value="rev" >Revision</option>
</select>
<input type="submit" value=" Sort " />
</div>
</form>


<hr />
<table>
<tr>
<td><address><a href="mailto:root@zarb.org">zarb.org admins</a></address></td>
<td style="text-align: right;"><strong><a href="/viewvc/help_log.html">ViewVC Help</a></strong></td>
</tr>
<tr>
<td>Powered by <a href="http://viewvc.tigris.org/">ViewVC 1.0.1</a></td>
<td style="text-align: right;">&nbsp;</td>
</tr>
</table>
</body>
</html>


